In [1]:
%load_ext sql
%sql mysql://user:password@127.0.0.1:3307/mysql_db

In [5]:
%%sql

SELECT * FROM crime_scene_report
LIMIT 5

 * mysql://user:***@127.0.0.1:3307/mysql_db
5 rows affected.

[(20180115, 'robbery', 'A Man Dressed as Spider-Man Is on a Robbery Spree', 'NYC'),
 (20180115, 'murder', 'Life? Dont talk to me about life.', 'Albany'),
 (20180115, 'murder', 'Mama, I killed a man, put a gun against his head...', 'Reno'),
 (20180215, 'murder', 'REDACTED REDACTED REDACTED', 'SQL City'),
 (20180215, 'murder', 'Someone killed the guard! He took an arrow to the knee!', 'SQL City')]