# **SQL Murder Mystery**

A crime has taken place and the detective needs your help. The detective gave you the crime scene report, but you somehow lost it. You vaguely remember that the crime was a ​murder​ that occurred sometime on ​Jan.15, 2018​ and that it took place in ​SQL City​. Start by retrieving the corresponding crime scene report from the police department’s database.

![](schema.png)

In [1]:
%load_ext sql
%sql sqlite:///sql-murder-mystery.db

In [4]:
%%sql

SELECT name 
FROM sqlite_master
WHERE type = 'table'

 * sqlite:///sql-murder-mystery.db
Done.

[('crime_scene_report',),
 ('drivers_license',),
 ('facebook_event_checkin',),
 ('interview',),
 ('get_fit_now_member',),
 ('get_fit_now_check_in',),
 ('solution',),
 ('income',),
 ('person',)]

In [7]:
%%sql 

SELECT sql 
FROM sqlite_master
WHERE name = 'crime_scene_report'

 * sqlite:///sql-murder-mystery.db
Done.

[('CREATE TABLE crime_scene_report (\n        date integer,\n        type text,\n        description text,\n        city text\n    )',)]

In [3]:
%%sql

SELECT * FROM income
LIMIT 5

 * sqlite:///sql-murder-mystery.db
Done.

[('100009868', 52200),
 ('100169584', 64500),
 ('100300433', 74400),
 ('100355733', 35900),
 ('100366269', 73000)]