# CSV to Database

This is a short notebook that converts a folder of csv files into a sqlite database containing tables with the same names as the csv files. 

The file structure should be as follows 

```
csv_to_db.ipynb
csv_files/
│
├── database1/
│   ├── table1.csv
│   ├── table2.csv
│   └── table3.csv
│
├── database2/
│   ├── table1.csv
│   ├── table2.csv
│   └── table3.csv
|
```

The only input required is the database name, which will select the relevant data folder in the `csv_files` directory. The name of the folder will be the name of the database, and the name of the csv files will be the table names, so make sure they are named correctly.

In [1]:
db_name = 'world'

In [2]:
import subprocess
import os

db_path = f'{db_name}.db'
csv_directory_path = f'./downloads/{db_name}'

commands =  ['sqlite3', db_path, f'.mode csv']
for csv_file in os.listdir(csv_directory_path):
    table_name = csv_file.split('.')[0]
    csv_file_path = f"{csv_directory_path}/{csv_file}"
    
    commands.append(f'.import {csv_file_path} {table_name}')

subprocess.run(commands)

CompletedProcess(args=['sqlite3', 'world.db', '.mode csv', '.import ./downloads/world/presidents.csv presidents', '.import ./downloads/world/economies.csv economies', '.import ./downloads/world/economies2010.csv economies2010', '.import ./downloads/world/economies2015.csv economies2015', '.import ./downloads/world/countries.csv countries', '.import ./downloads/world/prime_minister_terms.csv prime_minister_terms', '.import ./downloads/world/prime_ministers.csv prime_ministers', '.import ./downloads/world/monarchs.csv monarchs', '.import ./downloads/world/cities.csv cities', '.import ./downloads/world/countries_plus.csv countries_plus', '.import ./downloads/world/populations.csv populations', '.import ./downloads/world/economies2019.csv economies2019', '.import ./downloads/world/eu_countries.csv eu_countries', '.import ./downloads/world/languages.csv languages', '.import ./downloads/world/states.csv states', '.import ./downloads/world/currencies.csv currencies'], returncode=0)

Check if the tables have been added correctly

In [3]:
connection_string = f'sqlite:///{db_name}.db'

%load_ext sql
%sql $connection_string

In [4]:
%%sql

SELECT name FROM sqlite_master WHERE TYPE = 'table'

 * sqlite:///world.db
Done.

[('presidents',),
 ('economies',),
 ('economies2010',),
 ('economies2015',),
 ('countries',),
 ('prime_minister_terms',),
 ('prime_ministers',),
 ('monarchs',),
 ('cities',),
 ('countries_plus',),
 ('populations',),
 ('economies2019',),
 ('eu_countries',),
 ('languages',),
 ('states',),
 ('currencies',)]